<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Methode J"
        android:icon="@android:drawable/ic_menu_agenda"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Material">
        <activity
            android:name=".MainActivity"
            android:label="Methode J"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
